
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  height: fit-content;

  label{
    position: relative;
    width: 1.5em;
    height: 1.5em;
  }
  input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }

  label span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #00f;
    border-radius: 6px;
    cursor: pointer;
  }

  label span::after{
    content: '';
    position: absolute;
    left: .2em;
    bottom: .2em;
    width: 0px;
    height: 0px;
    border-color: black;
    border-style: solid;
    border-width: 0 .2em .2em 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
  }

  input:checked ~span::after{
    width: .75em;
    height: 1.2em;
    opacity: 1;
  }
}
